body, a {
  font-family: sans-serif;
  color: rgba(44, 117, 253, 0.836);
}

div {
  padding: 2.5vh 15vw;
}
ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-type: none;
  column-fill: balance;
}

li {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  color: rgba(82, 82, 82, 0.836);
  font-style: italic;
  margin: 16px 0;

}

.back {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  width: 120px;
  margin-bottom: 90px;
}

.back a {
  width: 120px;
}


a {
  display: inline-block;
  width: 80px;
  margin-right: 24px;
  padding: 10px;
  border-radius: 3px;
  border: 3px solid rgba(44, 117, 253, 0.836);
  text-decoration: none;
  font-style: normal;
  text-align: center;
}

a:hover {
  /* text-decoration: underline; */
  color: white;
  background: rgba(44, 117, 253, 0.836);
}

h1, h2 {
  font-size: 8vh;
  margin-top: 10vh;
  margin-bottom: 40px;
  line-height: 1em;
  text-align: center;
}

img {
  width: 180px;
}

